.users_block {
  padding: 20px 40px;
}
.users_block table {
  border-collapse: collapse;
}
.users_block table td,
.users_block table tr {
  border: 1px solid black;
  padding: 5px 10px;
}
table{
  width: 500px;
  margin: auto; 
}
td{
  background-color: blueviolet;
}